.main {
    display: flex;
    flex-flow: row nowrap;
}

.inputs {
    /*shut up, VSC*/
}

.inputs__button {
    height: 5vmin;
    width: 20vmin;
}

.inputs__textarea {
    height: 80vmin;
    width: 80vmin; 
}

.outputs {
    /*shut up, VSC*/
}

.outputs__textarea {
    height: 80vmin;
    margin-left: 5vmin;
    width: 80vmin;
}